body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.cat-info {
  display: flex;
margin: 20px;
}
.error {
color: tomato;
}

.cat-info_img {
  display: block;
  width: 50%;
}
.cat-info_container {
  padding:  0 50px;
}
.cat-info_title {
  margin: 0;
}
.cat-info_text {
}
.cat-info_span {
  font-weight: bold;
}
.cat-info_temperament_text {
}
