body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.breed-container {
  width: 40vw;
  margin-left: 20px;
}
.cat-info {
  display: flex;
  margin: 20px;
}
.error {
  color: tomato;
}

.cat-info_img {
  display: block;
  width: 40vw;
}
.cat-info_container {
  padding: 0 50px;
}
.cat-info_title {
  margin: 0 auto;
}
.cat-info_text {
  margin: 20 0 0 0;
  text-align: justify;
}
.cat-info_span {
  font-weight: bold;
}

.loader {
  width: 100%;
  height: 12px;
  display: inline-block;
  background-color: #fff;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    transparent 75%,
    transparent
  );
  font-size: 30px;
  background-size: 1em 1em;
  box-sizing: border-box;
  animation: barStripe 1s linear infinite;
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}
